/* History.module.css */

.year-animation {
  display: flex;
  font-size: 9rem; /* Adjust as needed */
}

.year-animation__prefix {
  display: inline-block;
  position: fixed;
  white-space: nowrap;
  z-index: 1;
  
}

.year-animation__suffix {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  left:9rem;
}

.year-animation__suffix--changing {
  transition: transform 0.4s;
}

.year-animation__suffix--active {
  transform: translateY(100%);
}

.year-animation__suffix--hidden {
  transform: translateY(100%);
  opacity: 100;
}

.year-animation__suffix--visible {
  opacity: 100;
  transform: translateY(0);
}
